version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: my_database
      POSTGRES_USER: my_user
      POSTGRES_PASSWORD: my_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    command: >
      sh -c "
      dockerize -wait tcp://db:5432 -timeout 40s &&
      dockerize -wait tcp://redis:6379 -timeout 40s &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - DEBUG=1

  celery_worker:
    build: .
    command: >
      sh -c "dockerize -wait tcp://db:5432 -wait tcp://redis:6379 celery -A steam_elite worker --loglevel=info"
    volumes:
      - .:/app
    depends_on:
      - web
      - db
      - redis

  celery_beat:
    build: .
    command: >
      sh -c "dockerize -wait tcp://db:5432 -wait tcp://redis:6379 celery -A steam_elite beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler"
    volumes:
      - .:/app
    depends_on:
      - web
      - db
      - redis

volumes:
  postgres_data:
