{% extends 'base.html' %}
{% block content%}
<br><br>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.avatar.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <center>

        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>

        Global price: {{ product.price_global}}
        <br>
        Turkey price: {{ product.price_tr}}
        <br>
        Brezil price: {{ product.price_br}}
        <br><br>

        <a href="{% url 'home'%}" class="btn btn-secondary">steam</a>
        </center>

      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock %}