{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">login here</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Wellcome to Steam Elite</p>
                </div>
            </div>
        </header>
<br><br>
<center>
<html>
    <form method="post" autocomplete="off">

        {% csrf_token %}

        {{loginform.as_p}}

        <input type="submit" class="btn btn-secondary" value="register"/>
</html>
    </center>
<br><br><br>
{% endblock %}
